@import '../../build/theme/theme-asap-init';

$primaryColor: #00a663;
$primaryDarkColor: #009653;
$primaryLightColor: #00B78F;
$accentColor: #00a663;
$accentDarkColor: #009653;
$accentLightColor: #86b0f5;
$accentTextColor: #ffffff;
$darkMenuBgColor: #2b3135;
$darkMenuHoverColor: #777d81;

$darkMenuRouterLinkActiveColor: #00976F;
$lightMenuRouterLinkActiveColor: #00a663;
$horizontalLightMenuRouterLinkActiveColor: #5180ce;

@import '../../build/theme/theme-asap-main';
