<div class="ui-g">
	<div class="ui-g-12">
		<div class="card card-w-title">
			<h1>Movies</h1>

			<div>
				This is an example of a meta-driven DataTableComponent embedded into an application component. Here the
				application is in control of the screen, instead of relying on the fully dynamic screen provided by ARB.
				The DataTableComponent makes use of the resource meta model to construct a table configuration, including
				column headers, filters and cells. From there the application is free to further customize the table.
			</div>

			<div style="overflow-x: auto;">
				<arb-data-table
					[config]="tableConfig"
					[ngModel]="binding.result$ | async"
					(onLazyLoad)="onLazyLoad($event)"
				></arb-data-table>
			</div>

			<div>
				<button pButton (click)="binding.refresh()" label="Refresh"></button>
			</div>
		</div>
	</div>
</div>
