<div class="card card-w-title">

	This application showcases the use of Crnk for end-to-end development with Spring and Angular.
	Examples are work in progress and will grow in terms features overtime. They are by no means considered
	feature complete, but just to provide a basic demonstration.
	For more information have a look at the Crnk documentation.

	<p>

	<div>
		<table>
			<tr>
				<td style="text-align:right">Movies: </td>
				<td>Explorer (table) and editor screen example.</td>
			</tr>

			<tr>
				<td style="text-align:right">Persons: </td>
				<td>Work in progress.</td>
			</tr>

			<tr>
				<td style="text-align:right">Votes: </td>
				<td>Expensive service call example with loading indicators.</td>
			</tr>

			<tr>
				<td style="text-align:right">Secrets: </td>
				<td>Error page example.</td>
			</tr>

		</table>
	</div>

</div>
