<form #formRef="ngForm">
	<div *ngIf="movie != null">

		<div class="form-container">

			<h1>Movie</h1>

			<demo-errors [errors]="binding.unmappedErrors"></demo-errors>

			<mat-form-field>
				<input type="text" matInput [crnkFormExpression]="movie.attributes.name"
						[placeholder]="'name' | translate" />
				<mat-error><demo-control-errors [expression]="movie.attributes.name"></demo-control-errors></mat-error>
			</mat-form-field>

			<mat-form-field>
				<input type="number" matInput [crnkFormExpression]="movie.attributes.year"
						[placeholder]="'year' | translate" />
				<demo-control-errors [expression]="movie.attributes.year"></demo-control-errors>
			</mat-form-field>

			<!--
			<div class="ui-g-12 ui-md-2">
				{{'rating' | translate}}
			</div>
			<div class="ui-g-12 ui-md-10">
				<input type="text" pInputText [crnkFormExpression]="movie.attributes.rating" />
				<arb-control-errors [expression]="movie.attributes.rating"></arb-control-errors>
			</div>

			<div class="ui-g-12 ui-md-2">
				{{'released' | translate}}
			</div>
			<div class="ui-g-12 ui-md-10">
				<arb-input-local-date type="text" pInputText
					[crnkFormExpression]="movie.attributes.released"></arb-input-local-date>
				<arb-control-errors [expression]="movie.attributes.released"></arb-control-errors>
			</div>

			<div class="ui-g-12 ui-md-2">
				{{'fullPlot' | translate}}
			</div>
			<div class="ui-g-12 ui-md-10">
				<arb-input-textarea [crnkFormExpression]="movie.attributes.fullPlot">
				</arb-input-textarea>
				<arb-control-errors [expression]="movie.attributes.fullPlot"></arb-control-errors>
			</div>

			<div class="ui-g-12 ui-md-2">
				{{'runtime' | translate}}
			</div>
			<div class="ui-g-12 ui-md-10">
				<arb-input-duration [crnkFormExpression]="movie.attributes.runtime"></arb-input-duration>
				<arb-control-errors [expression]="movie.attributes.runtime"></arb-control-errors>
			</div>

			<div class="ui-g-12 ui-md-2">
				{{'closingCredits' | translate}}
			</div>
			<div class="ui-g-12 ui-md-10">
				<p-checkbox [crnkFormExpression]="movie.attributes.closingCredits" binary="true"></p-checkbox>

				<arb-control-errors [expression]="movie.attributes.closingCredits"></arb-control-errors>
			</div>

			<div class="ui-g-12 ui-md-2">
				{{'directors' | translate}}
			</div>
			<div class="ui-g-12 ui-md-10">
				<input type="text" pInputText [crnkFormExpression]="movie.relationships.directors"/>
				<arb-control-errors [expression]="movie.relationships.directors"></arb-control-errors>
			</div>

			<div class="ui-g-12 ui-md-2">
				{{'genres' | translate}}
			</div>
			<div class="ui-g-12 ui-md-10">
				<input type="text" pInputText [crnkFormExpression]="movie.relationships.genres"/>
				<arb-control-errors [expression]="movie.relationships.genres"></arb-control-errors>
			</div>

			<div class="ui-g-12 ui-md-2">
				{{'languages' | translate}}
			</div>
			<div class="ui-g-12 ui-md-10">
				<input type="text" pInputText [crnkFormExpression]="movie.relationships.languages"/>
				<arb-control-errors [expression]="movie.relationships.languages"></arb-control-errors>
			</div>

			<div class="ui-g-12 ui-md-2">
				{{'countries' | translate}}
			</div>
			<div class="ui-g-12 ui-md-10">
				<input type="text" pInputText [crnkFormExpression]="movie.relationships.countries"/>
				<arb-control-errors [expression]="movie.relationships.countries"></arb-control-errors>
			</div>

			<div class="ui-g-12 ui-md-2">
				{{'actors' | translate}}
			</div>
			<div class="ui-g-12 ui-md-10">
				<input type="text" pInputText [crnkFormExpression]="movie.relationships.actors"/>
				<arb-control-errors [expression]="movie.relationships.actors"></arb-control-errors>
			</div>
				-->

		</div>

		<p>
			<button mat-raised-button
					[disabled]="!(binding.valid | async) || !(binding.dirty | async)" (click)="binding.save()">
				Save
			</button>
			<button mat-raised-button (click)="binding.delete()">Delete</button>
		</p>
	</div>
</form>
